:root{
    /* -------- Paleta de cores -------- */
    --gradient-fundo: linear-gradient(60deg, #cc208e 0%, #6713d2 100%);
    --gradient-after: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    --cor-primaria: white;          
    --cor-secundaria: #b8b8b8;
    --cor-terciaria: rgba(0,0,0,.15);
    --cor-opaca: rgba(255,255,255,.8);
    --cor-clara: #FFFFFFA6;   
    --cor-media-escura: #979797; 
    --cor-escura: #636363;
    --btn-preenchido: #6C51E9;
    --btn-preenchido-hover: #523db3;
    --btn-vazio: rgba(0,0,0,0);
    --btn-nav: rgba(255,255,255,.85);
    --box-shadow-1: rgba(0,0,0,.8);
    --box-shadow-2: rgba(0,0,0,.3);
    --card-1: #8CC9F0;
    --card-2: #9BB2E1;
    --card-3: #A89CC8;
    --card-4: #C79CC8;
    --card-5: #EFA8B0;
    --icone-header: #6C51E9;   
    --nav: #f4f4f4;    
    --fundo-icone-header: linear-gradient(rgb(211, 209, 209), white);
    --fundo-icone-footer: rgba(0,0,0,0);
    --fundo-icone-footer-hover: rgba(255,255,255,.3);  
    --menu-hamburguer: #B6D3FF;  
    --linha-hamburguer: #480063;

    // Unidades gerais
    --larguraGlobal: 80%;
    --transicaoPadrao: all .3s ease;
    }       



    
    body{
        background: var(--gradient-fundo);  

        /* Tipografia */
        font-family: "Source Sans Pro", sans-serif;   


        /* -------- Ajustes Gerais -------- */        
        h1{   
            font-size: 3rem ;   
        }
        h2{
            color: var(--cor-escura);
            font-size: 1.75rem;
        }
        h3{
            color: var(--cor-escura);
            font-size: 0.875rem;
        }
        ul{
            display: flex;
            justify-content: center;      
        }
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: var(--cor-escura);
        }
        p{
            line-height: 2;
            color: var(--cor-media-escura);
            text-align: justify;
        }
    }
    
    
    

    .header-section{
        @include flexCenter; 
        flex-direction: column;     
    }
    
    



    .main-section{
        padding: 75px 50px;
        width:100%;   
        border-bottom: 1px solid var(--cor-terciaria);    

        .h2-main-section{
            font-size: 2rem;
            letter-spacing: 1px;   
            letter-spacing: 1.5px;
            margin-bottom: 60px;    
        }
        .h2-main-section::after{       
            content: '';        
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width: 100px;
            height: 2.5px;    
            border-radius: 2px;        
            background-image: var(--gradient-after);
        }
        .h3-main-section{
            font-size: 1.5rem;
            color: var(--cor-media-escura);
            margin-bottom: 20px;
        }
    }
        
    





    .btn{                
        background-color: var(--btn-vazio);
        border-radius: 5px;
        padding: 10px 35px;      
        box-shadow: 0 0 5px var(--box-shadow-2); 
        transition: all .3s ease; 
        margin-bottom: 10px;

        &:hover{
            background-color: var(--btn-preenchido);
            color: var(--cor-primaria);
        }      
        
    }

    .btn-filled{
        box-shadow: 0 0 5px var(--box-shadow-1); 
        background: var(--btn-preenchido);
        color: var(--cor-primaria);    

        &:hover{
            background: var(--btn-preenchido-hover);  
        }
    }
        




    
      
    .flex-container{
        @include flexCenter;        
        align-items: flex-start;
        flex-direction: row;
        width: 100%;       
    }

    .flex-item{
        @include flexCenter;
        padding: 30px;            
        flex-direction: column;
    }

    .flex-wrap{
        @include flexCenter;
        flex-wrap: wrap;
    }
   